* {
    background-color:seashell;
     
}

.statement {
    color:rgba(103, 47, 8, 0.992);
    text-align: center;
    font-size:large;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.welcome {
    background-color:rgba(103, 47, 8, 0.992);
    color:bisque;
    text-align: center;
    text-decoration: wavy;
    font-family: fantasy;
}

.whole-thing {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#reset-form {
    grid-column: 4;
}

.cake {
    color:rgba(103, 47, 8, 0.992);          
}
#coconut {
    font-weight: bolder;
    font-size: large;
}


.brownies {
    color:rgba(103, 47, 8, 0.992);  
}

#marble {
    font-weight: bolder;
    font-size: large;
}

.cookies {
    color:rgba(103, 47, 8, 0.992);  
}
#rocky-road {
    font-weight: bolder;
    font-size: large;
}
